name: Nightly Tests
on:
  schedule:
    - cron: "0 2 * * *"
  push:
    branches:
      - main

jobs:
  dev-environment:
    uses: ./.github/workflows/integration-test-workflow.yaml
    with:
      test_branch: ${{ github.head_ref }}
    secrets:
      token: ${{ secrets.WASMER_DEV_TOKEN }}
      # TODO(SRE-1345): Reactivate the print to channel
      # test_failure_webhook: ${{ secrets.SLACK_DEV_ENV_FAILURE_WEBHOOK }}
  prod-environment:
    uses: ./.github/workflows/integration-test-workflow.yaml
    with:
      test_branch: ${{ github.head_ref }}
      registry: wasmer.io
    secrets:
      token: ${{ secrets.WASMER_PROD_TOKEN }}
      # TODO(SRE-1345): Reactivate the print to channel
      # test_failure_webhook: ${{ secrets.SLACK_PROD_ENV_FAILURE_WEBHOOK }}
