name: "run-against-prod"
'on':
  workflow_dispatch:

concurrency:
  group: run-against-prod

jobs:
  default:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
      - uses: wasmerio/setup-wasmer@v2
      - uses: denoland/setup-deno@v1
      - name: test
        env:
          WASMER_REGISTRY: https://registry.wasmer.io/graphql
          WASMER_TOKEN: ${{ secrets.WAPM_PROD_TOKEN }}
        run: deno test --allow-all --parallel
      - name: notify failure in slack
        if: failure()
        run: |
          curl -X POST -H 'Content-type: application/json' --data '{"text":"Integration tests failed ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"}' https://hooks.slack.com/services/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
